@page "/"
@page "/index"
@page "/home"
@using Shared.Utilities

<PageTitle>Quote of the Day</PageTitle>

<QuoteOfTheDay Title="Spruch Des Tages" QotdVm="@QotdViewModel">
    <LogOfQotd>
        <div class="alert alert-dark">@QotdViewModel?.LogAsJson()</div>
    </LogOfQotd>
</QuoteOfTheDay>